@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 99%;
    --foreground: 220 6% 22%;
    --card: 0 0% 99%;
    --card-foreground: 220 6% 22%;
    --popover: 0 0% 99.5%;
    --popover-foreground: 220 6% 22%;
    --primary: 243 96% 66%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 97%;
    --secondary-foreground: 220 5% 30%;
    --muted: 0 0% 92%;
    --muted-foreground: 220 5% 40%;
    --accent: 0, 0%, 97%;
    --accent-foreground: 220 5% 26%;
    --destructive: 0 80% 58%;
    --destructive-foreground: 0 0% 100%;
    --border: 300, 3%, 92%;
    --input: 220 10% 91%;
    --ring: 210 10% 20%;
    --radius: 0.375rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
